html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

strong {
  display: block;
}

[layout="fill"] img,
[layout="fill"] video,
amp-story-fill-layer img,
amp-story-fill-layer video {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

amp-story-fill-layer > * {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

amp-story-page,
amp-story-bookend {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

amp-story-page[active] {
  display: block;
  z-index: 1;
}

[bookend] amp-story-bookend {
  display: block;
  z-index: 2;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
